<button (click)="toggle()" id="bt">
  {{buttonName}}
</button>

<ng-container *ngIf="show4">
  <div style="margin: 0 auto;text-align: left;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est omnis velit repellendus. Magni error mollitia
    tempora corrupti nam veniam eligendi, debitis veritatis ipsam enim provident a consequuntur quod facere?
  </div>
  <div style="margin: 0 auto;text-align: left;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est omnis velit repellendus. Magni error mollitia
    tempora corrupti nam veniam eligendi, debitis veritatis ipsam enim provident a consequuntur quod facere?
  </div>
  <div style="margin: 0 auto;text-align: left;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est omnis velit repellendus. Magni error mollitia
    tempora corrupti nam veniam eligendi, debitis veritatis ipsam enim provident a consequuntur quod facere?
  </div>
  <div style="margin: 0 auto;text-align: left;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est omnis velit repellendus. Magni error mollitia
    tempora corrupti nam veniam eligendi, debitis veritatis ipsam enim provident a consequuntur quod facere?
  </div>
</ng-container>
